<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/authentication.css' %}">
  <script defer type="text/javascript" src="{% static 'js/authentication.js' %}"></script>
  <title>Library Authentication</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>
        <a title="Go to Library" href="{% url 'library:home' %}">
          <span class="font-icon font-icon-btn link-btn-filled material-icons-round md-48">local_library</span>
        </a>
      </h1>
    </header>
    <main>
      {% block content_auth %}{% endblock content_auth %}
    </main>
    <footer>
    </footer>
  </div>
</body>
</html>